.status-bar,
.status-bar-inchat{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    color: #656565;
}

.status-bar i,
.status-bar-inchat i{
    font-size: 14px;
}

.status-bar .status-bar__battery-level,
.status-bar-inchat .status-bar__battery-level{
    margin-left: 5px;
}